body {
    margin: 0;
}

.slider-image  {
    max-width: 100%;
    height: auto;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.relative-parent {
    position: relative;
}

.slider-buttons-container {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    justify-content: space-between;
    padding:0 5%;
    box-sizing: border-box;
    visibility: hidden;
}

.slider-button {
    font-size: 2.9em;
    color: #262922;
    background-color: #ebece7;
    border-radius: 50px;
}
.slider-button:hover {
    color:#9bb465;
}

#slider-images, .slider-buttons-container {
    cursor: pointer;
}


.slider-with-buttons:hover #left-slider-btn {
    visibility: visible;
    transition: transform 0.4s;
    transform: translateX(-13px);
    animation-name: button-appear;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.slider-with-buttons:not(:hover) #left-slider-btn {
    visibility: visible;
    transition: transform 0.4s;
    transform: translateX(13px);
    animation-name: button-disappear;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slider-with-buttons:hover #right-slider-btn {
    visibility: visible;
    transition: transform 0.4s;
    transform: translateX(13px);
    animation-name: button-appear;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.slider-with-buttons:not(:hover) #right-slider-btn {
    visibility: visible;
    transition: transform 0.4s;
    transform: translateX(-13px);
    animation-name: button-disappear;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes button-appear {
0% {opacity: 10%;}
50% {opacity: 50%;}
100% {opacity: 100%;}
}

@keyframes button-disappear {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0;}
}

